<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Let's create a todo list by clicking onto the link below</h1>
    <a href="/todos">Click here if you dare!</a>
    
</body>
</html>